/* W rozdzielczości poniżej 992px wszystkie elementy
    układają się jeden pod drugim i są wycentrowane*/

@media (max-width: 992px){
    
    section, footer, .copyright{
    padding: 10px 30px;
}
    
    .col-1-2{
    width: 100%;
    text-align: center;
    }
    
    #main-menu {
        width: 39%;
        margin-left: 20px;
        margin-top: 20px;
    }
        
    #main-menu label[for="drop-menu"]{
        display: block;
        text-align: left;
        color: #1ac056;
        font-size: 2em;
        width: 50px;
    }
    
    #main-menu .fa{
        padding: 10px;
        border: 2px solid #1ac056;
        border-radius: 5px;
    }
    
    #main-menu .menu-item{
        display: block;
        text-align: left;
        font-size: 1em;
        text-align: center;
    }
    
    #main-menu #drop-menu:checked + ul{
        display: block;
        background-color: rgba(69, 102, 129, 0.9);
        border: 2px solid #1ac056;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10px;
    }
    
    #main-menu ul{
        display: none;
    }
    
    #main-menu.scrolled {
        background-color: rgba(69, 102, 129, 0);
        border-bottom: 0px;
    }
    
    #about p{
/*        text-align: justify;*/
    }
            
    #portfolio .portfolio-item{
    width: 100%;
    }
    
    #contact form{
        margin-top: 50px;
    }
    
    #contact h2{
        text-align: center;
    }
    
    #contact .social-icon{
        margin: 0 10px;
    }
}


/* Elementy portfolio w przedziale 992-1200px
    mają układać się 2 + 1 */

@media (min-width: 992px) and (max-width: 1200px){
    
    #portfolio .portfolio-item{
    width: 48%;
    }
    
    #portfolio .portfolio-item:last-child{
    width: 98%;    
    }
    
 /* 
    #portfolio #portfolio-item-3{
    width: 100%; 
    } 
*/
}